<div class="h-full w-full flex flex-col items-center justify-center">
  <button type="button" (click)="toggleMode()">Toggle</button>
  <div
    class="flex items-center justify-center flex-col dark:bg-app_dark_bg bg-[#FFFFFF] p-3 rounded-[16px] shadow-md w-[480px]">
    <div class="flex flex-col items-center p-6 w-full">
      <img [src]="currentImages?.authIcon" alt="auth icon" class="h-[70px] w-full md:h-[50px] md:w-[300px]" />
      <h2 class="text-[28px] font-bold text-[#000000] dark:text-[#FFFFFF] md:text-[20px] pt-2">
        Welcome Back !
      </h2>
      <p class="text-[#777777] dark:text-[#C3C3C3]  text-[14px] font-semibold pt-2 pb-8 md:text-[14px]">
        Sign in to your account here
      </p>
      <form [formGroup]="form" class="w-full" (ngSubmit)="onSubmit(form.value,form.valid)">
        <app-input [label]="'Email'" [placeholder]="'Email'" formControlName="email"></app-input>
        <app-input [label]="'Password'" [type]="'password'" [placeholder]="'Password'"
          formControlName="password"></app-input>
        <button type="submit">submit</button>
      </form>

      <div class="w-full flex justify-between items-center mt-5">
        <p class="text-[#787878] dark:text-[#C3C3C3] font-bold text-[12px]">
          Don’t have an account ?
        </p>
        <!-- <RedirectLink href="/signup" LinkText="SIGN UP" /> -->
      </div>
    </div>
  </div>
</div>