.toggle-switch {
  height: 24px;
  width: 48px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  input {
    display: none;
    &:checked + .slider {
      background-color: #008778;
    }
    &:checked + .slider::after {
      -webkit-transform: translateX(22px);
      -ms-transform: translateX(22px);
      transform: translateX(22px);
      background-color: #132826;
    }
  }
  .slider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #008778;
    transition: 200ms;
    border-radius: 28px;
    &::after {
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;
      background-color: white;
      left: 4px;
      bottom: 3px;
      transition: 200ms;
      border-radius: 50%;
    }
  }
}