<ng-template #content let-offcanvas>

    <div
        class="bg-[#FFFFFF] dark:bg-app_dark_bg border-[#E5E4E4] dark:border-[#132826] h-full p-6 flex flex-col justify-between">
        <div class="flex flex-col">
            <div class="flex items-center justify-between mb-4">
                <a [routerLink]="'/'">
                    <img class="w-[180px]" [src]="currentImages?.authIcon" alt="auth icon" />
                </a>
                <span class="border-app_green border-[1px] rounded p-1 leading-[10px] cursor-pointer">

                    <i class="fa fa-times !text-[18px] text-app_green" aria-hidden="true"></i>
                </span>
            </div>
            <div class="flex justify-center gap-2 p-2">
                <div>
                    <button type="button" class="border-[1.5px] border-[#008778] h-16 w-16 rounded-full"
                        id="dropdownBasic1">
                        <img src="https://github.com/shadcn.png" class="p-1 h-full w-full rounded-full" alt="">
                    </button>
                </div>
            </div>
            <div class="bg-[#E5E4E4] dark:bg-[#132826] h-[1px]"></div>
            <div class="mt-6 flex flex-col gap-3">

                <button
                    class="flex items-center gap-2 h-[40px] hover:bg-[#E5E5E473] dark:hover:bg-[#132826] dark:text-[#C3C3C3] text-[#777777] rounded px-3"
                    [routerLink]="'/profile'" (click)="offcanvas.close()">
                    <img [src]="currentImages?.dropdownUserIcon" alt="auth icon" class="h-[20px] w-[20px]" />View
                    profile</button>
                <button
                    class="flex items-center gap-2 h-[40px] hover:bg-[#E5E5E473] dark:hover:bg-[#132826] dark:text-[#C3C3C3] text-[#777777] rounded px-3">
                    <img [src]="currentImages?.dropdownCartIcon" alt="auth icon" class="h-[24px] w-[24px]" (click)="offcanvas.close()"/>
                    Your
                    orders</button>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <div class="flex justify-between items-center">
                <span class="dark:text-[#C3C3C3] text-[#777777]">Theme</span>
                <app-dark-switch [value]="currentTheme==='dark'" (changed)="switchTheme.emit()"></app-dark-switch>
            </div>
            <button
                class="flex items-center gap-2 h-[40px] hover:bg-[#E5E5E473] dark:hover:bg-[#132826] dark:text-[#C3C3C3] text-[#777777] rounded px-3" (click)="offcanvas.close()">
                <img [src]="currentImages?.LogoutIcon" alt="auth icon" class="h-[24px] w-[24px]" />
                Logout</button>
            <app-button-normal [btnClass]="'rounded w-full'" [label]="'Contact us'"></app-button-normal>
        </div>


    </div>
</ng-template>

<button class="btn hidden md:block" (click)="openEnd(content)">
    <i class="fa fa-bars !text-[20px] text-app_green" aria-hidden="true"></i>
</button>