<header
    class="fixed flex w-full h-[80px] bg-[#FFFFFF] dark:bg-app_dark_bg items-center justify-between border-[#E5E4E4] dark:border-[#132826] border-b-[1px] px-3">
    <div>
        <a [routerLink]="'/'">
            <img class="md:hidden h-[40px] w-[175px]" [src]="currentImages?.authIcon" alt="auth icon" />
        </a>
        <app-side-bar (switchTheme)="toggleMode()" [currentImages]="currentImages"
            [currentTheme]="currentTheme" (logout)="logout()"></app-side-bar>
    </div>
    <div class="flex gap-5 items-center">
        <app-button-normal [btnClass]="'rounded-full md:hidden'" [label]="'Contact us'"></app-button-normal>
        <div class="relative">
            <img [src]="currentImages?.notificationIcon" alt="auth icon" />
            <span class="absolute flex h-2.5 w-2.5 top-0 -right-1">
                <span
                    class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#EA393E] opacity-65"></span>
                <span class="relative inline-flex rounded-full h-2.5 w-2.5 bg-[#EA393E]"></span>
            </span>
        </div>
        <div ngbDropdown class="md:hidden" display="dynamic">
            <button type="button" class="border-[1.5px] border-[#008778] h-12 w-12 rounded-full" id="dropdownBasic1"
                ngbDropdownToggle>
                <img src="https://github.com/shadcn.png" class="profile-image p-1 h-full w-full rounded-full" alt="">
            </button>
            <!-- Dropdown Container -->
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1"
                class="mr-4 mt-3 bg-[#FFFFFF] dark:bg-app_dark_bg border-[#E5E4E4] border-[1px] dark:border-[#132826] shadow-md w-[230px] p-0 min-w-[280px]">
                <div class="flex items-center gap-2 px-2 pb-1 pt-2">
                    <div>
                        <button type="button" class="border-[1.5px] border-[#008778] h-12 w-12 rounded-full"
                            id="dropdownBasic1" ngbDropdownToggle>
                            <img src="https://github.com/shadcn.png" class="p-1 h-full w-full rounded-full" alt="">
                        </button>
                    </div>
                    <div class="flex justify-center flex-col">
                        <span class="text-[#000000] dark:text-[#FFFFFF] text-[14px] font-bold">
                            John Doe
                        </span>
                        <span class="text-[#787878] dark:text-[#C3C3C3] text-[12px] font-normal">
                            johndoe&#64;gmail.com
                        </span>
                    </div>
                </div>
                <div class="bg-[#E5E4E4] dark:bg-[#132826] h-[1px] mb-1"></div>

                <div class="px-2 p-1">
                    <button ngbDropdownItem
                        class="flex items-center gap-2 min-h-[40px] hover:bg-[#E5E5E473] dark:hover:bg-[#132826] dark:text-[#C3C3C3] text-[#777777] rounded px-2"
                        [routerLink]="'/profile'">
                        <img [src]="currentImages?.dropdownUserIcon" alt="auth icon" class="h-[20px] w-[20px]" />
                        <span class="text-[16px]">View profile</span> 
                    </button>
                </div>
                <div class="px-2 p-1">
                    <button ngbDropdownItem
                        class="flex items-center gap-2 min-h-[40px] hover:bg-[#E5E5E473] dark:hover:bg-[#132826] dark:text-[#C3C3C3] text-[#777777] rounded  px-2">
                        <img [src]="currentImages?.dropdownCartIcon" alt="auth icon" class="h-[24px] w-[24px]" />
                        <span class="text-[16px]">Your orders</span>
                    </button>
                </div>
                <div class="px-2 pb-2 pt-1">
                    <div
                        class="flex items-center justify-between gap-2 dark:text-[#C3C3C3] text-[#777777] rounded px-2">
                        <div class="flex items-center gap-2">
                            <img [src]="currentImages?.darkModeIcon" alt="auth icon" class="h-[24px] w-[24px]" />
                            <span class="text-[16px]">Dark mode</span>
                        </div>
                        <div class="toggle-btn">
                            <app-dark-switch class="flex items-center" [value]="currentTheme==='dark'"
                                (changed)="toggleMode()"></app-dark-switch>
                        </div>
                    </div>
                </div>
                <div class="bg-[#E5E4E4] dark:bg-[#132826] h-[1px] mt-1"></div>
                <div class="p-2">
                    <button ngbDropdownItem
                        class="flex items-center gap-2 min-h-[40px] hover:bg-[#E5E5E473] dark:hover:bg-[#132826] dark:text-[#C3C3C3] text-[#777777] rounded  px-2" (click)="logout()">
                        <img [src]="currentImages?.LogoutIcon" alt="auth icon" class="h-[24px] w-[24px]" />
                        <span class="text-[16px]">
                            Logout
                        </span>
                    </button>
                </div>
            </div>
        </div>


    </div>
</header>