<div class="h-full w-full flex flex-col items-center justify-center">
    <button type="button" (click)="toggleMode()">Toggle</button>
    <div
      class="flex items-center justify-center flex-col dark:bg-app_dark_bg bg-[#FFFFFF] p-3 rounded-[16px] shadow-md w-[480px]">
      <div class="flex flex-col items-center p-6 w-full">
        <img [src]="currentImages?.resetPasswordImg" alt="auth icon" class="h-[70px] w-full md:h-[50px] md:w-[300px]" />
        <h2 class="text-[28px] font-bold text-[#000000] dark:text-[#FFFFFF] md:text-[20px] pt-2">
          Reset Password
        </h2>
        <form [formGroup]="form" class="w-full" (ngSubmit)="onSubmit(form.value,form.valid)">
      

          <app-input [label]="'Password'" [containerClass]="'mt-5'" [type]="'password'" [placeholder]="'Password'"
                    formControlName="password"></app-input>

          <app-input [label]="'Confirm Password'" [type]="'password'" [placeholder]="'Confirm Password'"
                    formControlName="password"></app-input>
  
          <app-custom-button [type]="'button'" [label]="'UPDATE PASSWORD'"
            [btnClass]="'w-full mt-2 font-semibold text-[0.875rem]'" [loading]="isLoading" (onClick)="onClick()"
            [isDisabled]="isLoading"></app-custom-button>
        </form>
  
      </div>
    </div>
  </div>