<div class="h-full w-full flex flex-col items-center justify-center">
  <div
    class="flex items-center justify-center flex-col dark:bg-app_dark_bg bg-[#FFFFFF] rounded-[8px] shadow-md w-[480px] sm:w-auto">
    <div class="flex flex-col items-center p-6 w-full">
      <img [src]="currentImages?.resetPasswordImg" alt="auth icon" class="h-[70px] w-full md:h-[50px] md:w-[300px]" />
      <h2 class="text-[28px] font-bold text-[#000000] dark:text-[#FFFFFF] md:text-[20px] pt-2">
        Reset Password
      </h2>
      <p
        class="text-[#777777] dark:text-[#C3C3C3]  text-[14px] font-semibold pt-2 pb-[1rem] md:text-[14px] text-center">
        Enter your new password below to reset your password
      </p>
      <form [formGroup]="form" class="w-full" (ngSubmit)="onSubmit()">


        <app-input [label]="'Password'" [type]="'password'" [placeholder]="'Password'" formControlName="password"
          [error]="submitted&&getErrors('password')" [errorMessage]="getErrorsMessage('password')"></app-input>

        <app-input [label]="'Confirm Password'" [type]="'password'" [placeholder]="'Confirm Password'"
          formControlName="confirm_password" [error]="submitted&&getErrors('confirm_password')"
          [errorMessage]="getErrorsMessage('confirm_password')"></app-input>

        <app-custom-button [type]="'submit'" [label]="'Update Password'"
          [btnClass]="'w-full mt-2 font-bold text-[0.875rem]'" [loading]="isLoading"
          [isDisabled]="isLoading"></app-custom-button>
      </form>

    </div>
  </div>
</div>