<div class="h-full w-full flex flex-col items-center justify-center">
  <div
    class="flex items-center justify-center flex-col dark:bg-app_dark_bg bg-[#FFFFFF] rounded-[8px] shadow-md w-[480px]">
    <div class="flex flex-col items-center p-6 w-full">
      <img [src]="currentImages?.forgotPasswordImg" alt="auth icon" class="h-[70px] w-full md:h-[50px] md:w-[300px]" />
      <h2 class="text-[28px] font-bold text-[#000000] dark:text-[#FFFFFF] md:text-[20px] pt-2">
        Forgot Password
      </h2>
      <p class="text-[#777777] dark:text-[#C3C3C3]  text-[14px] font-semibold pt-2 pb-[1rem] md:text-[14px] text-center">
        Enter your email we’ll send you a link to reset your password
      </p>
      <form [formGroup]="form" class="w-full" (ngSubmit)="onSubmit()">
        <app-input [label]="'Email'" [placeholder]="'Email'" formControlName="email" [error]="submitted&&getErrors('email')" [errorMessage]="getErrorsMessage('email')"></app-input>

        <app-custom-button [type]="'submit'" [label]="'Send Verification Link'"
          [btnClass]="'w-full font-bold text-[0.875rem]'" [loading]="isLoading"
          [isDisabled]="isLoading"></app-custom-button>
      </form>

      <div class="w-full flex justify-between items-center mt-[1rem]">
        <p class="text-[#787878] dark:text-[#C3C3C3] font-bold text-[12px]">
          Already have an account?
        </p>
        <app-link [href]="'/auth/login'" [label]="'SIGN IN'"></app-link>
      </div>
    </div>
  </div>
</div>