<div class="grid w-full items-center gap-1.5 pb-[0.5rem]" [ngClass]="[containerClass ? containerClass : '']">
  <label [for]="label" class="label_initial " [ngClass]="[
      error&&!disabled?'label_destructive':'',
      !disabled&&!error?'label_default':'',
      !error&&disabled?'label_disabled':'']" *ngIf="label">
    {{ label }}
  </label>
  <div class="global-input-style" [ngClass]="[error ?'border-[#EA393E]':'']">
    <input [type]="showPassword?'text':type" [attr.placeholder]="placeholder" [disabled]="disabled" (blur)="onBlur()"
      (input)="onInputChange()" #input class="input-autofill-style placeholder:text-[#787878] placeholder:text-[0.75rem]" [ngClass]="[disabled ? 'opacity-50' : '']" />
    <button *ngIf="type === 'password' " type="button"
      class="h-full px-2 py-2 hover:bg-transparent disabled:cursor-not-allowed disabled:opacity-50 flex items-center justify-center"
      (click)="showPassword=!showPassword" [disabled]="disabled">
      <ng-container *ngIf="type==='password'">
        <i class="fa fa-eye !text-[16px]" aria-hidden="true" *ngIf="showPassword"></i>
        <i class="fa fa-eye-slash !text-[16px]" aria-hidden="true" *ngIf="!showPassword"></i>
      </ng-container>
    </button>
  </div>
  <div
    class="opacity-0 text-[0.75rem] text-[#EA393E] overflow-hidden text-ellipsis whitespace-nowrap max-w-full h-[1rem] -mt-[0.3125rem]"
    [ngClass]="{
      '!opacity-100 transition-opacity duration-200 ease-in-out ': !!errorMessage
    }">
    {{errorMessage || ''}}
  </div>
</div>