<div class="p-[16px]">
  <div class="grid w-[240px] grid-cols-2 bg-transparent border-app_green border-[1px] rounded-[4px] mb-[2rem]">
    <div routerLink="user" routerLinkActive="bg-app_green text-[#F2F2F2] dark:text-[#001615]"
      class="text-[16px] text-[#F2F2F2] dark:text-[#001615] font-bold py-[10px] flex justify-center">Personal
    </div>
    <div routerLink="company" routerLinkActive="bg-app_green text-[#F2F2F2] dark:text-[#001615]"
      class="text-[16px] text-[#F2F2F2] dark:text-[#001615] font-bold py-[10px] flex justify-center">Company
    </div>
  </div>
  <router-outlet></router-outlet>
</div>