<div>
    <header class="flex justify-between items-center border-[#E5E4E4] dark:border-[#132826] border-b-[1.5px] pb-[1rem]">
        <div class="flex flex-col">
            <h1 class="text-[24px] font-bold">Profile</h1>
            <p class="dark:text-[#C3C3C3] text-[#777777] text-[14px] font-[400] mt-[8px] mb-0">Update your personal
                details and your
                photo
                here
            </p>
        </div>
        <div class="flex gap-3">
            <app-button-normal [buttonType]="'outline'" [label]="'Cancel'" (btnClick)="onCancel()"
                [isDisabled]="isLoading"></app-button-normal>
            <app-button-normal [label]="'Save Changes'" (btnClick)="onSubmit()" [loading]="isLoading"
                [isDisabled]="!form.dirty"></app-button-normal>
        </div>
    </header>
    <div class="flex">
        <div class="col-7">
            <form [formGroup]="form" class="w-full">
                <div class="flex items-center w-full md:flex-col mt-4 gap-3 md:!gap-0">
                    <div class="w-2/4 md:w-full">
                        <app-input [label]="'Name'" [placeholder]="'Enter name'" formControlName="us_fullname"
                            [error]="submitted&&getErrors('us_fullname')"
                            [errorMessage]="getErrorsMessage('us_fullname', 'Name')"></app-input>
                    </div>
                    <div class="w-2/4 md:w-full">
                        <app-input [label]="'Username'" [placeholder]="' Enter username'" formControlName="us_username"
                            [error]="submitted&&getErrors('us_username')"
                            [errorMessage]="getErrorsMessage('us_username', 'Username')"></app-input>
                    </div>
                </div>
                <div class="flex items-center w-full md:flex-col gap-3 md:!gap-0">
                    <div class="w-2/4 md:w-full">
                        <app-input [label]="'Email'" [placeholder]="'Enter email'" formControlName="us_email"
                            [type]="'email'" [error]="submitted&&getErrors('us_email')"
                            [errorMessage]="getErrorsMessage('us_email','Email')"></app-input>
                    </div>
                    <div class="w-2/4 md:w-full">
                        <app-input [label]="'Phone Number'" [placeholder]="'Eg: +91XXXXXXXXXX'"
                            formControlName="us_phone_number" [type]="'text'"
                            [error]="submitted&&getErrors('us_phone_number')"
                            [errorMessage]="getErrorsMessage('us_phone_number','Phone number')"></app-input>
                    </div>
                </div>
                <div class="w-full">

                    <app-radio-button [label]="'What gender do you identify as ?'" [options]="genderOptions"
                        formControlName="us_gender" [name]="'us_gender'" [error]="submitted&&getErrors('us_gender')"
                        [errorMessage]="getErrorsMessage('us_gender','Gender')"></app-radio-button>
                </div>
                <div class="flex items-center w-full md:flex-col gap-3 md:!gap-0 mt-4">

                    <div class="w-2/5 md:w-full">
                        <app-custom-select-box formControlName="us_state" [options]="stateOptions"
                            [valueField]="'value'" [labelField]="'label'" [label]="'State'"
                            [error]="submitted&&getErrors('us_state')"
                            [errorMessage]="getErrorsMessage('us_state','State')"
                            (valueChange)="onStateChange($event.value)"></app-custom-select-box>
                    </div>
                    <div class="w-2/5 md:w-full">
                        <app-custom-select-box formControlName="us_district" [options]="cityOptions"
                            [valueField]="'value'" [labelField]="'label'" [label]="'District'"
                            [error]="submitted&&getErrors('us_district')"
                            [errorMessage]="getErrorsMessage('us_district', 'District')"
                            [isDisabled]="!cityOptions.length"></app-custom-select-box>
                    </div>
                    <div class="w-1/5 md:w-full">
                        <app-input [label]="'Pincode'" [placeholder]="'Eg: 638002'" formControlName="us_pincode"
                            [type]="'text'" [error]="submitted&&getErrors('us_pincode')"
                            [errorMessage]="getErrorsMessage('us_pincode', 'Pincode')"></app-input>
                    </div>
                </div>
                <div class="w-2/4">
                    <app-custom-textarea [label]="'Address'" formControlName="us_address"
                        [error]="submitted&&getErrors('us_address')"
                        [errorMessage]="getErrorsMessage('us_address', 'Address')"></app-custom-textarea>
                </div>
            </form>
        </div>
        <div class="col-5">
            <div class="flex flex-col items-end mt-4">
                <h1 class="text-[20px] dark:text-[#FFFFFF] font-bold mb-2">Profile Picture</h1>
                <div class="h-[400px] w-[400px] rounded-[10px]">
                    <img src="https://github.com/shadcn.png" class="h-full w-full rounded-[10px]" alt="" />
                    <div class="flex gap-2 mt-3 justify-end">
                        <app-button-normal [label]="'Upload Profile'"></app-button-normal>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>